# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
*.pth
datasets/
datasets/*
.DS_Store
*/.ipynb*
*/*/.ipynb*
.ipynb*/*
datasets/
datasets/*
train_logs/
train_logs
